:root {
  /* text color */
  --text-color-dark: rgb(64, 64, 57);
  --text-color-light: beige;
  /* headings color */
  --headings-color-1: var(--text-color-dark);
  --headings-color-2: var(--text-color-light);
  /* background + color scheme */
  --background-color: beige;
  --navbar-bg-color: rgb(186, 50, 50);
  --accent-color: lightblue;
  --hover-color: rgb(173, 201, 230);
  /* cards */
  --card-bg-color: white;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  /* buttons */
  --button-bg-color: var(--accent-color);
  --button-hover-color: var(--hover-color);
  --button-text-color: beige;
}

/* Fonts */
@font-face {
  font-family: "belwemonoregular";
  src: url("../fonts/belwemonoregular.otf") format("opentype");
}
@font-face {
  font-family: "belwemonoitalic";
  src: url("../fonts/belwemonoitalic.otf") format("opentype");
}

h1,
h2,
h3,
p,
body,
a,
label,
button,
select,
input,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: var(--headings-color-1);
  font-family: "belwemonoregular", sans-serif;
  margin: 1.2rem 0;
}

h3 {
  color: var(--headings-color-1);
  font-family: "Montserrat", sans-serif;
}

.headings-light {
  color: var(--headings-color-2);
}

p,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--beige-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 5rem;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  text-decoration: none; /* Removes underlines from all links in the navbar */
  color: inherit; /* Optional: ensures the link inherits the text color from its parent */
}

.uppercase {
  text-transform: uppercase;
}

label {
  display: block;
  color: var(--accent-color);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-left: 20px;
}
button {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin-left: 30px;
  width: 140px;
  border-radius: 10px;
  border: 0;
  padding: 0.5rem 0.5rem;
  outline: 0;
}

select {
  border-color: var(--hover-color);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 20px;
  margin-right: 30px;
  border-radius: 10px;
  border: 0;
  padding: 0.5rem 0.5rem;
  outline: 0;
  width: 250px;
}
button:hover {
  background-color: var(--hover-color); /* Button hover effect */
}
input {
  color: #222629;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  margin-left: 10px;
  width: 100px;
}

input[type="text"] {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem 0.5rem;
  transition: border-color 0.5s, box-shadow 0.5s;
}

input[type="text"]:focus {
  border-color: #547625;
  outline: 0;
  box-shadow: 0 0 0 4px var(--hover-color);
}

.search-container #search-input {
  border: 1px solid white;
  box-shadow: 0 0 0 0;
}

input[type="file"] {
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  transition: border-color 0.5s, box-shadow 0.5s;
}
input[type="file"]:focus {
  border-color: #547625;
  outline: 0;
  box-shadow: 0 0 0 4px var(--hover-color);
}

textarea {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem 0.5rem;
  transition: border-color 0.5s, box-shadow 0.5s;
}

textarea:focus {
  border-color: #86c232;
  border: 1px solid;
  outline: 0;
  box-shadow: 0 0 0 4px var(--hover-color);
}

.form-group {
  margin-bottom: 1rem;
}

.small-input {
  width: 200px;
}

.quote-input {
  width: 100%;
  max-width: 500px;
}

.result-item {
  background-color: beige;
  margin: 1rem 0;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.card {
  background-color: var(--card-bg-color);
  box-shadow: 2px 2px 10px var(--card-shadow-color);
  border-radius: 10px;
  margin: 25px;
  width: 250px;
  transition: transform 0.3s ease; /* Smooth transition effect */
  position: relative;
  overflow: hidden;
  max-width: 300px;
}

.card:hover {
  transform: scale(1.05); /* Scale up the card to 110% when hovered */
  box-shadow: 0 4px 8px var(--card-shadow-color);
}
.card-link {
  text-decoration: none;
  color: inherit; /* To maintain the text color */
}
.card-header {
  font-weight: bold;
  color: #333;
  margin: 1rem 1rem;
}
.card-title h3 {
  color: black;
}

.card-actions {
  display: flex; /* This enables flexbox */
  justify-content: space-between; /* This will space out the buttons evenly */
  align-items: center; /* This will vertically center-align the buttons */
}

.card-actions button {
  width: 75px;
  flex: 1; /* This will make each button take up equal space */
  margin: 0 5px; /* Example margin, adjust as needed */
  padding: 5px 10px; /* Example padding, adjust as needed */
  box-sizing: border-box; /* Includes padding in the width */
}
#cancelEditButton {
  display: none;
}

.image-container {
  width: 100%; /* Adjust width as needed */

  position: relative;
  height: 200px;
  overflow: hidden; /* Ensures the image doesn't exceed the container's boundaries */
}

.square-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will crop the image to fill the square */
}

/* MAIN CONTENT */
.squashed {
  line-height: 1;
}
.center-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 25px;
}

.opening-content {
  height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 25px;
  margin-top: -100px;
  align-items: center;
  padding: 20px;
  text-align: center; /* Center the text */
}

.main-content {
  margin-top: 100px;
  align-items: center;
  padding: 20px;
}

.form-container {
  display: flex;
  align-items: center;
}

.search-icon {
  background-color: white;
  padding: 15px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon:hover {
  background-color: var(--button-hover-color);
}

.search-container {
  background-color: white;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  width: 500px;
}

#search-container {
  background-color: var(--background-color);
  transition: background-color 0.5s ease-in-out;
}

#search-container.visible {
  background-color: white;
}

#search-input {
  width: 400px;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    max-height 0.5s ease-in-out;
}

#search-input.visible {
  opacity: 1;
  visibility: visible;
  max-height: 50px; /* Adjust this value to fit your needs */
}

@media (min-width: 768px) {
  .main-content {
    margin-top: 0;
    max-width: 100%;
    align-items: center;
    padding: 20px;
    margin-left: 220px;
  }
}
/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%; /* Full width */
  height: auto; /* Adjust height automatically */
  top: 0; /* Positioned at the top */
  left: 0; /* Aligned to the left */
  padding: 15px; /* Adjust padding as needed */
  display: flex; /* Use flexbox for horizontal alignment */
  flex-direction: row; /* Align items in a row */
  justify-content: space-between; /* Distribute space around items */
  align-items: center; /* Align items vertically in the center */
  background-color: var(--navbar-bg-color);
  z-index: 1000; /* High z-index to ensure it's above other elements */
  box-sizing: border-box; /* Includes padding and border in the width */
}

/* Styles for Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  min-width: 160px;
  z-index: 1;
  transition: all 1s ease;
  color: black;
  text-decoration: none;
}

.dropdown-items {
  display: flex;
  flex-direction: column;
}

/* Styles for Dropdown Button */
.dropdown-button {
  width: 100px;
  background-color: #4caf50; /* Adjust color as needed */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  flex-direction: row; /* Align items in a row */
  display: none;
}

/* Hide the mobile h1 in desktop view */
.navbar h1.mobile {
  display: block;
}
.navbar h1.original {
  display: none;
}
.navbar button {
  margin-left: 0;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  background-color: var(--hover-color);
}

.navbar-logo h1 {
  line-height: 1;
  margin: 0;
}
/* Hide Dropdown and Show Regular Buttons on Larger Screens */
@media (min-width: 768px) {
  .dropdown-menu,
  .dropdown-button,
  .dropdown-items {
    display: none; /* Hide dropdown elements */
  }

  .navbar-buttons {
    display: block; /* Show regular buttons */
  }
}

@media (min-width: 768px) {
  .navbar {
    position: fixed;
    width: 140px; /* Adjust width as needed */
    height: 100%;
    padding: 25px;
    flex-direction: column; /* Align items in a row */
    justify-content: start; /* Distribute space around items */
    align-items: center;
    box-sizing: content-box;
  }
  .navbar h1.original {
    display: block;
  }

  .navbar h1.mobile {
    display: none;
  }
  .navbar-logo {
    padding-bottom: 2rem;
  }

  .navbar-buttons {
    flex-direction: column; /* Align items in a row */
  }

  .navbar-buttons button {
    margin: 10px 0;
  }
}

/* Display Recipe */
#recipeImage1 {
  width: 250px;
  height: 250px;
  float: left;
  position: relative;
  right: 100px;
  margin-right: -50px;
  object-fit: cover; /* Crop the image if necessary */
}

#recipeImage2 {
  width: 250px;
  height: 250px;
  float: right;
  position: relative;
  left: 100px;
  margin-left: -75px;
  margin-bottom: 100px;
  object-fit: cover; /* Crop the image if necessary */
}

/* CREATE RECIPE */
.quote {
  font-size: 2.5rem;
  font-family: "belwemonoitalic", sans-serif;
  text-align: right; /* Add this line to align the text to the right */
}

@media screen and (min-width: 768px) {
  #instructions {
    width: 100%;
  }
}

.ingredient-row {
  width: 500px;
  display: flex;
  margin: 5px 5px;
}

.ingredient-name {
  flex: 1;
  margin-right: 5px;
}

.ingredient-quantity {
  max-width: 150px;
}

.ingredient-quantity {
  flex-basis: 100px; /* Adjust width as needed */
}

.like-button {
  cursor: pointer;
  font-size: 24px; /* Increase the font size to make the icon bigger */
  padding-right: 20px;
}

.fa-solid {
  color: red;
}
